* {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  background-color: rgb(232, 163, 251);
  height: 70px;
}
.codex {
  margin-top: 15px;
  margin-left: 30px;
}
.nav1 {
  display: flex;
  margin: auto;
  gap: 50px;
  margin-left: 900px;
}
body {
  background-color: rgb(181, 230, 234);
}
.container {
  display: flex;
  padding: 10px;
  margin: auto;
  height: 362px;
  width: 300px;
  margin-top: 150px;
}
.col1 {
  margin-right: 100px;
}
.box1 {
  height: 100px;
  width: 100px;
  background-color: rgb(251, 128, 128);
  margin-bottom: 80px;
}
.main {
  display: flex;
  width: 800px;
  margin: auto;
  margin-top: 250px;
}
.box {
  height: 200px;
  width: 300px;
  background-color: rgb(180, 180, 180);
}
.para {
  padding: 5px;
  width: 450px;
  margin-top: 10px;
  margin-left: 30px;
}
.box2 {
  margin-top: 100px;
  margin-left: 200px;
}
.bx2 {
  background-image: url("https://images.pexels.com/photos/29651657/pexels-photo-29651657/free-photo-of-ancient-temple-architecture-in-patan-nepal.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
  background-repeat: no-repeat;
  width: 1000px;
  height: 500px;
  background-size: cover;
  margin: auto;
}
.testi {
  padding: 10px;
  margin-left: 600px;
  margin-top: 120px;
}
.container2 {
  padding: 5px;
  display: flex;
  gap: 40px;
  margin-top: 40px;
}
.card {
  background-color: white;
  display: flex;
  box-shadow: black 1px;
  margin-left: 45px;
  gap: 5px;
  box-shadow: 5px 5px rgb(90, 131, 138);
}
.prf {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 5px;
}

.tech {
  padding: 10px;
  margin-left: 600px;
  margin-top: 120px;
}
.container3 {
  padding: 5px;
  display: flex;
  gap: 40px;
  margin-top: 40px;
  margin-left: 150px;
}
.card2 {
  background-color: rgb(254, 209, 209);
  margin-left: 70px;
  width: 250px;
  height: 300px;
  box-shadow: 5px 5px rgb(187, 120, 131);
}
.prf2 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 5px;
  margin-left: 70px;
  margin-top: 20px;
}
.desc {
  padding: 10px;
  margin-top: 10px;
}
